
header {
    position: fixed;
    width: 100%;
    opacity: initial;
    z-index: 100;
}

.navbar {
    background-color: #ff4551;
    font-size: 35px;
    font-family: 'Gotham HTF', 'Muli', sans-serif;
    font-style: italic;
    height: 80px;
    font-weight: 800;

}
.x {
    width: 90px;
    height: auto;
    padding-top: 20px;

}
.blue{
    width: 100%;
    height: auto;
    font-size: 22px;
    font-family: 'Gotham HTF', 'Muli', sans-serif;
    font-weight: 400;    
    background-color: #95cae0;
    text-align: center;
}
.cent {
    text-align: center;
}
.purple {
    position: relative;
    top: 80px;
    background:skyblue 50%; 
}
.womxn  {
    width: 100%;
    bottom: 5px;

}
.nav-item   {
    color: black;   
}
body {
    height: 100%;
    background: linear-gradient(90deg, skyblue 50%, #ff4551 50%);
}
.divided    {
    height: 500px;
    padding-top: 400px;

}
.col-4  {
    font-size: 65px;
    font-family: 'Gotham HTF', 'Muli', sans-serif;
    font-weight: 900;
}
.two    {
    padding-top: 450px;
}
.col-12 {
    font-size: 65px;
    font-family: 'Gotham HTF', 'Muli', sans-serif;
    font-weight: 900;

}

.row {
    width: 100%;

}

ul {
    padding-top: 50px;
    padding-left: 200px;
    list-style: none;
    font-family: 'Gotham HTF', 'Muli', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;

}
.ang    {
    width: 500px;
    height: auto;
    padding-left: 20%;
    padding-top: 500px;
}

.arca   {
    width: 400px;
    right: 300px;
    height: auto;
    padding-top: 1100px;

}

