
header {
    position: fixed;
    width: 100%;
    opacity: initial;
    z-index: 100;
}

.navbar {
    background-color: #ff4551;
    font-size: 35px;
    font-family: 'FuturaStd-BookOblique', 'Gotham HTF', 'Muli', sans-serif;
    font-style: italic;
    height: 80px;
    font-weight: 800;

}
.x {
    width: 90px;
    height: auto;
    padding-top: 20px;

}
.blue {
    width: 100%;
    font-size: 22px;
    font-family: 'FuturaSTD-Book', 'Gotham HTF', 'Muli', sans-serif;
    font-weight: 400;    
    background-color: skyblue;
    text-align: center;
}
.cent {
    text-align: center;
}
.purple {
    background:skyblue 50%; 
}
.womxn  {
    width: 100%;
    bottom: 5px;

}
.nav-item   {
    color: black;   
}
.divider {
    height: 100%;
    background: linear-gradient(90deg, skyblue 50%, #ff4551 50%);
}
.divided    {
    height: 500px;
    padding-top: 50px;

}
.col-4  {
    font-size: 65px;
    font-family: 'FuturaStd-BookOblique', 'Gotham HTF', 'Muli', sans-serif;
    font-weight: 900;
}
.two    {
    padding-top: 150px;
    padding-left: 20px;
}
.col-12 {
    font-size: 65px;
    font-family: 'FuturaStd-BookOblique', 'Gotham HTF', 'Muli', sans-serif;
    font-weight: 900;

}

.row {
    width: 100%;

}

ul {
    padding-top: 50px;
    padding-left: 250px;
    list-style: none;
    font-family: 'FuturaSTD-MediumOblique', 'Gotham HTF', 'Muli', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;

}
.ang    {
    width: 100%;
    height: auto;
    padding-left: 20%;
    padding-top: 100px;
    padding-bottom: 200px;
}

.arca   {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    z-index: -100;
    padding-left: 20%;

}
.x2 {
    width: 90px;
    height: auto;
}
.exist  {
    padding-top: 50px;
    font-family: 'FuturaStd-Book', 'Gotham HTF', 'Muli', sans-serif;
    padding-left: 20px;
    font-size: 50px;
    font-weight: bolder;
    padding-right: 20px;

}
#list   {
    position: relative;
    z-index: 90;
}
.fest   {
    text-align: right;
    font-family: 'FuturaStd-Book', 'Gotham HTF', 'Muli', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-right: 20px;
}
#x3 {
    width: 40px;
    height: auto;
    font-family: 'FuturaStd-Book', 'Gotham HTF', 'Muli', sans-serif;

}
.pp {
    text-align: left;
    font-family: 'FuturaStd-Book', 'Gotham HTF', 'Muli', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;    
    padding-top: 25px;
}
#left   {
    text-align: left;
    font-family: 'FuturaStd-Light', 'Gotham HTF', 'Muli', sans-serif;
}
#mid    {
    text-align: center;
    font-family: 'FuturaStd-Light', 'Gotham HTF', 'Muli', sans-serif;
}
#right  {
    text-align: right;
    font-family: 'FuturaStd-Light', 'Gotham HTF', 'Muli', sans-serif;
}
footer  {
    width: 100%;
    padding-top: 100px;
    font-weight: bold;
    color: black;
    background-color: #ff4551;
    bottom: 0px;
}
.link  {
    color: black
}
.link:hover    {
    color: white;
    text-decoration: none;
}
body    {
    color: white;
    max-width: 1920px;
    width: 100%;
    background-color: #ff4551;

}
#x4 {
    width: 70px;
    height: auto;
    font-family: 'FuturaStd-Light', 'Gotham HTF', 'Muli', sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
}
.nav-item:hover   {
    color: white;
}
#beu    {
    left: 20px;

}

h1 {
    font-family: 'FuturaStd-BookOblique', 'Gotham HTF', 'Muli', sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 100px;
}

h2 {
    font-family: 'FuturaStd-BookOblique', 'Gotham HTF', 'Muli', sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 50px;
}

section {
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#one {
    background-color: orange;
    height: 100%;
    width: 100%;
}


article {
    margin: auto;
}
ygb {
    right: 0px;
}
#foot   {
    color: black;
    background-color: #ff4551;
    padding-top: 10%;
}
#frihead    {
    background-color: orange;
    position: relative;
    padding: 20px;
}

